Required libraries:

-----------------Streamlit - frontend
-----------------Pandas - for data manipulation
-----------------NumPy - for numerical calculations
-----------------scikit-learn - for ML model

